* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav ul li a{
    font-size: 20px;
    padding-right: 2rem ;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}
a{ 
    text-decoration: none;
    color: black;
}
nav ul li{
    display: inline-block;
}
header{
    padding-top: 3%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    display: flex;
    justify-content: space-between;
}
.navegacion{
    padding-top: 3%;
}
.familias{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
}
.familias div {
    width: 33%;
    padding: 2%;
    text-align: center;
}
.familias div a img {
    width: 100%;
    margin-bottom: 2rem;
}
section article{
    margin-top: 3rem;
}
.tituloart{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: center;
    padding-bottom: 1re;
}
.imagen_principal{
    width: 100%;
}
.textonro1{
    color:black;
    background-color: lightblue;
    display:flex;
    justify-content: center;
    align-items:flex-start;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 5%;
}
.textonro1 div{
    width: 50%;
    padding: 1%;
}
.familias div a img{
    margin-bottom: 1rem;
}
.familias div a h4{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    justify-content: center;
    padding-right: 1rem;
    padding-left: 3rem;
}
.textonro2{
    text-align:center;
    color:black;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 1rem;
}
section article img{
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 15%;
}
.final{
    background-image: url("../imagenes/imagen_parte_dos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.elenco{
    padding: 5%;
}
.elenco li{
    color:black;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding-top: 1rem;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1rem;
}
.imagenes_galería{
    padding: 2%;
}
.imagenes_galería div{
    width: 100%;
    padding-left: 2%; 
}
.imagenes_galería div a img{
    padding: 5px;
}
