* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav ul li a{
    font-size: 20px;
    margin-right: 2rem ;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}
a{ 
    text-decoration: none;
    color: black;
}
nav ul li{
    display: inline-block;
}
nav ul li a:hover {
    background-color: lightblue;
    color: black;
}
header{
    padding-top: 3%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    display: flex;
    justify-content: space-between;
}
.navegacion{
    padding-top: 3%;
}
.familias{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
}
.familias div {
    width: 33%;
    padding: 2%;
    text-align: center;
}
.familias div a img {
    width: 100%;
    margin-bottom: 2rem;
}
.section article{
    margin-top: 3rem;
}
.section{
    text-align: center;
}
.tituloart{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: center;
    padding-bottom: 1rem;
}
.imagen_principal{
    width: 100%;
}
.textonro1{
    color:black;
    background-color: lightblue;
    display:flex;
    justify-content: center;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 5%;
}
.textonro3{
    color:black;
    background-color: lightblue;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 5%;
    text-align: left;
}
.textonro1 div{
    width: 50%;
    padding: 1%;
}
.familias div a img{
    margin-bottom: 1rem;
}
.familias div a h4{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    justify-content: center;
    padding-right: 1rem;
    padding-left: 3rem;
}
.textonro2{
    text-align:center;
    color:black;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 1rem;
}
section article img{
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 15%;
}
.encabezado{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}
.textonro2{
    color:black;
    background-color: lightblue;
    display:flex;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 5%;
}
.final{
    background-image: url("../imagenes/imagen_parte_dos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.elenco{
    padding: 5%;
}
.elenco li{
    color:black;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding-top: 1rem;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1rem;
}
.imagenes_galería{
    padding: 2%;
}
.imagenes_galería div{
    width: 100%;
    padding-left: 2%; 
}
.imagenes_galería div a img{
    padding: 5px;
}
.terciario {
    padding-right: 2%;
    padding-left: 2%;
    margin-bottom: 2rem;
    display: flex;
}
.terciario div {
    width: 50%;
    padding: 2%;
    text-align: center;
}
.terciario input {
    margin-bottom: 20px;
}
.titulo_contacto{
    font-family:'Roboto', sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.icon{
    display: none;
}
.formulario{
    font-family:'Roboto', sans-serif;
}

@media screen and (max-width: 480px) {
    header{
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    nav ul{ 
        display: none; 
    }
    nav ul li{
        display: block;
        text-align: end;
    }
    .icon{ 
        display: flex; 
        justify-content: end;
        font-size: 2rem;
        padding: 2rem;
    }
    header div, header a{
        flex: 1 0 33%;
    }
    header nav{
        flex-basis: 100%;
    }
    nav.responsive ul{
        display: block;
        width: 100%;
    }
    .familias{
        display: inline-block;
    }
    .familias div {
        width: 100%;
        padding: 2%;
        text-align: center;
    }
    .familias div a img {
        width: 100%;
        margin-bottom: 2rem;
    }
    article.familias{
        width: 100%;
    }
    section article{
        margin-top: 0;
    }
    section article img{
        padding-top: 10%;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        width: 100%;
    }
    .final{
        background-image: url("../imagenes/imagen_parte_dos.jpg");
        background-repeat: no-repeat;
        height: 5rem;
    }
    .tituloart{
        font-size: 25px;
        padding-top: 2rem;
    }
    .textonro1{
        display: block;
    }
    .textonro1 div{
        width: 100%;
    }
    .elenco{
        padding:10% 5%;
    }
    .elenco li{
        padding-bottom: 0;
    }
    .terciario{
        display: inline;
    }
    #texto_terciario{
        width: 100%;
        padding-bottom: 3rem;
    }
    .terciario div{
        width: 100%;
        padding-bottom: 2rem;
    }
    .imagenes_galería div{
        padding: 0;
    }
    .imagenes_galería{
        margin: 12%;
        padding: 0;
        display: inline-block;
    }
    .imagenes_galería div img{
        max-width: 100%;
        width: 100%;
    }
}